body{
	display: grid;
	justify-items:center;
}
#points{
	height: 2em;
	border-style: solid;
	border-radius: 10px;
	border-width: 1px;
	padding: 0px 1em;
}
#grid{
	margin-top: 5em;
	display: grid;
	width: 200px;
	height: 200px;
	grid-template-rows: repeat(20,10px);
	grid-template-columns: repeat(20,10px);
	border-style: solid;
}
.cell{
	width: 10px;
	height: 10px;
}